:root {
    --color-primary: #c0281a;
    --color-text: #333333;
    

    --background-body: #f1f1ef;
    --background-white: #fff;


    --font-family-base: "Source Serif 4", serif;
    --font-family-header: "Berkshire Swash", serif;

    --spacing-sm: 5px;
    --spacing-md: 10px;
    --spacing-lg: 15px;
    --spacing-xl: 30px;
    --spacing-xxl: 60px;


    --radius-sm: 4px;
    --radius-md: 8px;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-header)
}

section {
    padding: 60px var(--spacing-lg);
}

img {
    width: 100%;
}

.container {
    max-width: 1199px;
    width: 100%;
    margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}



body {
    font-family: var(--text-family-base);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    background: var(--background-body)
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--color-primary);
  color: #ffffff;
  padding: 8px 16px;
  z-index: 100;
  transition: top 0.3s;
}

/* Bring the link into view when it is focused via keyboard */
.skip-link:focus {
  top: 0;
}

header {
    display: flex;   
    background: var(--background-white);
    padding: var(--spacing-lg) 5%;
    align-items: center;
    justify-content: space-between;
}

p {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: var(--spacing-lg)
}

.nav-social-media {
    display: flex;
    gap: var(--spacing-xl);
}

.nav-social-media a {
    display: inline-block;
    width: 30px; 
    height: 30px;
}

.nav-social-media svg {
    width: 100%;
    height: 100%;
    fill: var(--color-primary);
}


.site-logo a{
    display: inline-block;
    width: 100px;
}

/* .site-logo img {
    width: 100%;
} */

nav ul, .footer-nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav a, .footer-nav a {
    color: var(--color-primary);
    font-size: 1.2rem;
    padding: 10px 5px;    
}

nav a:active, .footer-nav a, nav a.active {
    border-bottom: 1px solid var(--color-primary);
}


.nav-social-media, nav {
  flex: 1; /* Forces equal space allocation */
}

.menu-toggle-open, .menu-toggle-close, .inner-social-link {
    display: none;
}

nav {
  text-align: right; /* Aligns text to the outer edge */
}



.intro .container {
    display: flex;
    gap: 30px;
}

.intro figure {
    flex: 0 0 40%;
    max-width: 40%;
}

/* .intro img {
    width: 100%;
} */

.intro h2 {
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: var(--spacing-xl)
}

.gallery .container {
    display: flex;
    gap: .33%;
    flex-wrap: wrap;
}

.gallery figure {
    flex: 0 0 33%;
    max-width: 33%;
    min-height: 100%;
    margin-bottom: .33%;
}

.gallery img {
    height: 100%;
    object-fit: cover;
}

.menu h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
}

.menu h3 {
    font-size: 1.5rem;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 45px;
}

.menu li:nth-child(even) {
    padding-left: var(--spacing-lg);
}

.menu li:nth-child(odd) {
    padding-right: var(--spacing-lg);
}

.menu p {
    font-size: 1.2rem;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
}

.menu__item p {
    font-size: 1rem;
}


.testimonial .container {
    display: flex;
    position: relative;
}

.testimonial figure {
    flex: 0 0 70%;
    max-width: 70%;
}

blockquote {
    background: var(--background-white);
    position: absolute;
    width: 50%;
    right: 0;
    padding: 30px;
    top: 50%;
    transform: translateY(-50%)
}

.testimonial p {
    font-family: var(--font-family-header);
    font-size: 1.5rem;
    letter-spacing: 0.1rem
}

.testimonial small {
    font-size: 1.4rem;
}

footer {
    padding: 60px 0;
    text-align: center;
}

.footer-nav {
    justify-content: center;
    margin-bottom: var(--spacing-xl);
}

footer .nav-social-media {
    justify-content: center;
}

.intro.about .container {
    display: block;
    gap: none;
}

.about .wrapper {
    display: flex;
    gap: 30px;
}

.about__left {
    flex: 0 0 30%;
    max-width: 30%;
}

.about__left figure {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}


@media(max-width: 768px) {
    .xs-hidden {
        display: none
    }

    header {
        padding-left: var(--spacing-lg);
        padding-right: var(--spacing-lg);
    }

    section {
        padding: var(--spacing-xl) var(--spacing-lg)
    }

    p {
        font-size: 1.2rem;
    }

    .menu-toggle-open, .menu-toggle-close, .inner-social-link {
        display: block;
    }

    #primary-navigation {
        display: none;
    }

    #primary-navigation.is-active {
        display: block;
        position: fixed;
        background: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    #primary-navigation.is-active ul{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    #primary-navigation.is-active .inner-social-link ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #primary-navigation.is-active .inner-social-link a{
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 0;
    }

    #primary-navigation.is-active .inner-social-link svg{
        width: 100%;
        height: 100%;
        fill: var(--color-primary);
    }

    .menu-toggle-open {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px; 
        padding: 0;
    }

    .menu-toggle-open .line {
        display: inline-block;
        width: 100%;
        height: 4px;
        background: var(--color-primary);
    }

    .menu-toggle-close {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        width: 24px;
        height: 24px;
        padding: 0;
        margin-left: auto; /* Pushes the button to the top-right corner */
        display: block;
        top: 15px;
        right: 15px;
    }

    .cross-line {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--color-primary);    
    }

    /* Cross line rotations */
    .menu-toggle-close .line-1 {
        transform: rotate(45deg);
    }

    .menu-toggle-close .line-2 {
        transform: rotate(-45deg);
    }

    .intro .container {
        flex-direction: column;
    }

    .intro figure {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .intro h2 {
        font-size: 2.5rem;
    }

    .gallery figure {
        flex-basis: 49%;
        max-width: 49%;
    }

    .menu h2 {
        font-size: 2rem;
    }

    .menu h3 {
        font-size: 1.3rem;
    }

    .menu li {
        flex-basis: 100%;
        max-width: 100%;
    }

    .menu li:nth-child(even), .menu li:nth-child(odd) {
        padding: 0;
    }

    .testimonial .container {
        flex-direction: column;
    }

    .testimonial figure {
        flex-basis: 100%;
        max-width: 100%;
    }

    blockquote {
        position: static;
        transform: none;
        width: 100%;
        
    }

    .testimonial p {
        font-size: 1.3rem;
    }

    .about .wrapper {
        gap: none;
        flex-wrap: wrap;
    }

    .about__left {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about__left figure:last-child {
        margin-bottom: 0;
    }
}   





